body {
    margin:0;
    padding:0;
}
.main_div {
	max-width: 500px;
	background: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	width: 100%;
}
.login_box {
    display: grid;
  height: 100vh;
  place-items:center;
  background: #ccc;
}
.main_div .title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}


form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: #ccc;
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
.button input{
  padding-left: 0;
  background: #be2edd;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background: #ccc;
}